<!-- Deck name, number of cards-->
<h1 id="{{deck}}">Deck: {{deck}}</h1>
<p>Card count: {{cardCount}}</p>

<!-- button to go back to the home page-->
<form action="/"><input type="submit" value="Go Back"></form>

<!-- Test knowledge -->
<form action="/">
    <input type="text" hidden name="deck" value="{{deck}}">
    <input type="submit" name="testKnowledge" value="Test Knowledge!">
</form>


<!-- Add a card-->
<form id="addCard" action="/" method="POST">
    <input type="text" hidden name="deck" value="{{deck}}">
    <input type="number" hidden name="cardCount" value={{cardCount}}>
    <label for="question">Question:</label>
    <input type="text" name="question">
    <label for="answer">Answer:</label>
    <input type="text" name="answer">
    <input type="submit" name="addCard" value="Add Card">
</form>

<!-- View cards and delete certain cards if they want to-->
{{#if cards}}
<table id="deckTable">
    <thead>
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each cards}}
            <tr>
                <td hidden><input type="number" value={{this.id}}></td>
                <td hidden><input type="text" value={{this.username}}></td>
                <td><input type="text" disabled=disabled value={{this.question}}></td>
                <td><input type="text" disabled=disabled value={{this.answer}}></td>                
                <td hidden><input type="number" disabled=disabled value={{this.review_count}}></td>
                <td hidden><input type="number" disabled=disabled value={{this.correct_count}}></td>
                <td><input type="submit" name="edit" value="Edit"></td>
                <td><input type="submit" name="delete" value="Delete"></td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{/if}}

<script src="client_script_deck.js"></script>
<link rel="stylesheet" href="client_style_deck.css">