<center><h1 style="font-size:80px;">Flash Forward</h1></center>
<center><h2>Hello {{name}}!</h2></center>
<br>
<center>
<h2>Here are Your Flashcard Decks:</h2>
<!-- Show flashcard decks, in an unordered list, with deckname, card count, and a button to choose a deck -->
{{#if decks}}
    <ul id="deckList" style="text-align: center; list-style-position: inside;">
    {{#each decks}}
        <form action="">
            <li>    
                {{this.deck}}, [{{this.cardCount}} cards]
                <input type="text" hidden name="deck" value="{{this.deck}}">
                <input type="number" hidden name="cardCount" value="{{this.cardCount}}">
                <input type="submit" name="openDeck" value="Open">
                <input type="submit" name="testKnowledge" value="Test Knowledge!">      
            </li>
        </form>
    <br>
    {{/each}}
    </ul>
{{else}}
    <h3>You have no decks! Create new deck below</h3>
{{/if}}

<!-- Create a new deck -->
<br>
<h3>Create a New Deck:</h3>
<form id="newDeck" action="/" method="POST">

    <label for="deck">New Deck Name: </label>
    <input type="text" name="deck"><br>
    <br>
    <label style= "margin-left: -20px;" for="question">Question:</label>
    <input type="text" name="question">
    <br><br>
    <label for="answer">Answer:</label>
    <input type="text" name="answer">
    <br><br>

    <input type="submit" name="newDeck" value="Create Deck">
</form>

</center>

<!-- stats on how many cards have been reviewed in the past 7 days-->

<script src="client_script_home.js"></script>
<link rel="stylesheet" href="client_style_home.css">