<h1>Hello {{name}}!</h1>
<br>
<h1>Here are your flashcard decks:</h1>

<!-- Show flashcard decks, in an unordered list, with deckname, card count, and a button to choose a deck -->
{{#if decks}}
    <ul id="deckList">
    {{#each decks}}
        <form action="">
            <li>
                {{this.deck}}, [{{this.cardCount}} cards]
                <input type="text" hidden name="deck" value="{{this.deck}}">
                <input type="number" hidden name="cardCount" value="{{this.cardCount}}">
                <input type="submit" name="openDeck" value="Open">
            </li>
        </form>
    {{/each}}
    </ul>
{{/if}}


<!-- Create a new deck-->
<br>
<h3>Create a new Deck:</h3>
<form id="newDeck" action="/" method="POST">
    <label for="deck">New deck name: </label>
    <input type="text" name="deck"><br>
    <label for="question">Question:</label>
    <input type="text" name="question">
    <label for="answer">Answer:</label>
    <input type="text" name="answer">
    <input type="submit" name="newDeck">
</form>

<!-- stats on how many cards have been reviewed in the past 7 days-->

<script src="client_script_home.js"></script>
<link rel="stylesheet" href="client_style_home.css">